body {
  background-image: url(background.jpg);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

}

.navbar {
  display: block;
}

.ranime {
  width: auto;
  height: auto;
}

.howTo {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin: 2% 15%;
  margin-top: 3%;
  text-shadow: .1em .1em .1em black, -.1em -.1em .1em black;
  padding-left: 3em;
  padding-right: 3em;
}

.howTo h2 {
  font-weight: bolder;
  text-align: center;

}

.search-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
}

.form-group {
  margin: 1vh;
  opacity: .85;
}

.search {
  margin-right: .3em;
  width: 20em;
  height: 2.5em;
}

.custom-select {
  margin-right: .3em;
}

.hide {
  display: none;
}


.info {
  height: 100%;
}

.box {
  padding-top: 2em;

}

.card-block {
  margin: 10px;
  padding: 10px;
  background-color: #007f5b;
  border-radius: 10px;
}

img.card-img-top {
  max-width: auto !important;
  height: 20em !important;
}

.button {
    background-color: #007f5b;
    border-color: #54ffcd;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .ranbtn {
    background-color: #007f5b;
    color: #83FFD9;
    border: 0px;
  }

  .footer {
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #007f5b;
    color: #83FFD9;
  }
