body {
  background-image: url(background.jpg);
  display: flex;
  height: 99vh;
  flex-direction: column;
  justify-content: space-between;

}

.navbar {
  display: block;
}

.howTo {
  color: white;
  border-radius: 10px;
  margin: 1% 15%;
  margin-top: 3%;
  background-color: black;
}

.howTo p {
  padding: 10px;
}

.search-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.form-group {
  margin: 20px;
}

#search {
  margin-right: 5px;
}

.custom-select {
  margin-right: 15px;
}

.info {
  height: 100%;
}

.box {
  padding-top: 20px;

}

.card-block {
  margin: 10px;
  padding: 10px;
  background-color: #007f5b;
  border-radius: 10px;
}

img.card-img-top {
  max-width: auto !important;
  height: 250px !important;
}

.button {
    background-color: #007f5b;
    border-color: #54ffcd;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .ranbtn {
    background-color: black;
    color: white;
  }

  .footer {
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #007f5b;
    /*margin-top: 29%;*/
  }
